

$header-bg-color: #C51A4A !default;
$header-bg-color-secondary:#155799;

.page-header {
    color: #155799;
    text-align: center;
    background-color: #C51A4A;
    background-image: linear-gradient(20deg, #155799, #C51A4A);
  
  }