$header-bg-color: #C51A4A !default;

.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: #C51A4A;
    // background-image: linear-gradient(20deg, $header-bg-color-secondary, $header-bg-color);
  
  }